[submodule "deps/red4ext.sdk"]
	path = deps/red4ext.sdk
	url = https://github.com/WopsS/RED4ext.SDK.git
[submodule "deps/redlib"]
	path = deps/redlib
	url = https://github.com/psiberx/cp2077-red-lib.git
[submodule "deps/archivexl"]
	path = deps/archivexl
	url = https://github.com/psiberx/cp2077-archive-xl.git
[submodule "deps/simdjson"]
	path = deps/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
[submodule "deps/tweakxl"]
	path = deps/tweakxl
	url = https://github.com/psiberx/cp2077-tweak-xl.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/wil"]
	path = deps/wil
	url = https://github.com/microsoft/wil.git
